# Sunucu adresi (Render için tam URL)
BASE_URL=https://your-render-app.onrender.com

# Environment
NODE_ENV=production

# Server
PORT=3000
BACKEND_URL=https://your-render-app.onrender.com

# Database (PostgreSQL)
DB_HOST=dpg-d5fe030gjchc73f4379g-a
DB_PORT=5432
DB_USER=wtt_db_c75u_user
DB_PASS=NgSn7JDQ93ugNkl4lB0lpi8sJiv2UB4S
DB_NAME=wtt_db_c75u
# Alternatif olarak sadece bunu da kullanabilirsin:
# DATABASE_URL=postgresql://wtt_db_c75u_user:NgSn7JDQ93ugNkl4lB0lpi8sJiv2UB4S@dpg-d5fe030gjchc73f4379g-a:5432/wtt_db_c75u

# JWT
JWT_SECRET=your_super_secret_jwt_key_here

# CORS
CORS_ORIGIN=https://wtt-final.vercel.app,http://localhost:5173

# Cloudinary
CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

